<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.software.ustc.superspy">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/superspy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/superspy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WebViewActivity3"></activity>
        <activity android:name=".activity.WebViewActivity2" />
        <activity android:name=".activity.DonateActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.PasswordInfoActivity" />
        <activity android:name=".activity.PasswordResetActivity" />
        <activity android:name=".activity.PasswordGetActivity" />
        <activity android:name=".activity.AppsRecomendActivity" />
        <activity android:name=".activity.PasswordChangeActivity" />
        <activity android:name=".activity.DevInfoActivity" />


        <service
            android:name=".service.AppDbPrepareService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.AppUsageAnalysisActivity" />
        <activity android:name=".activity.SysInfoShowActivity" />
        <activity android:name=".activity.AppUsageShowActivity" />
        <activity android:name=".activity.AppInfoShowActivity" />
        <activity android:name=".activity.RollActivity" />
        <activity android:name=".activity.LoginActivity" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">

        </activity>
    </application>

</manifest>